<% var data = {
    title: "Main Page"
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/header-part.html').default)(data) %>

<main class="site-content">	
    <div class="my-block">
        <canvas class="my-canvas" id="my-canvas"></canvas>
    </div>
</main>

<%= _.template(require('./../includes/footer-part.html').default)(data) %>
<%= _.template(require('./../includes/footer.html').default)(data) %>